/* Navbar */
.navbar-container {
    background-color: #f2e8cf;
    padding: 10px 0; 
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    min-height: 80px;
}

.navbar h1 {
    color: #000000; 
    margin: 0;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: #4c7c42;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar li a:hover {
    color: #386641;
    text-decoration: underline;
}

.navbar li.active a {
    color: #386641;
    text-decoration: underline;
}

.content-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px #ffffff;
    border: 1px solid #ddd;
}

/* Responsif */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px; 
        text-align: center;
    }

    .content-container {
        padding: 15px; 
    }
}
